# Visual studio files
*.sln
*.VC.db
*.vcxproj
*.vcxproj.filters
*.VC.opendb
.vs
Debug
x64
x86
Win32

# temp & build folders
DerivedData
obj
build
html
bin
lib
*.dir
*.tmp

# Mac files
.DS_Store

# Compiled objects
*.slo
*.lo
*.o
*.obj

# Precompiled headers
*.gch
*.pch

# Dynamic libraries
*.so
*.dylib
*.dll
*.pyd

# Static libraries
*.lai
*.la
*.a
*.lib

# Exectuables
*.exe
*.out
*.app

# Python Libraries
*.pyc
CoreRobotics.py
