# Visual studio files
*.sln
*.VC.db
*.vcxproj
*.vcxproj.filters
*.VC.opendb
.vs
Debug
# x64
# x86
Win32

# temp & build folders
DerivedData
obj
build
html
bin
*.dir
*.tmp

# Mac files
.DS_Store

# Compiled objects
*.slo
*.lo
*.o
*.obj

# Precompiled headers
*.gch
*.pch

# Dynamic libraries
*.so
*.dylib
*.dll
*.pyd

# Static libraries
*.lai
*.la
*.a
*.lib

# Exectuables
*.exe
*.out
*.app

# Python Libraries
*.pyc

# MEX libraries
*.mexa32
*.mexmaci32
*.mexw32
*.mexa64
*.mexmaci64
*.mexw64

# Python and Matlab util libraries
python/examples/CoreRobotics.py
matlab/examples/+CoreRobotics
matlab/examples/Swig*
