# Visual studio files
*.sln
*.VC.db
*.vcxproj
*.vcxproj.filters
*.VC.opendb
.vs
Debug
x64
x86

# temp folders
DerivedData
obj

# Mac files
.DS_Store

# Compiled objects
*.slo
*.lo
*.o
*.obj

# Precompiled headers
*.gch
*.pch

# Dynamic libraries
*.so
*.dylib
*.dll

# Static libraries
*.lai
*.la
*.a
*.lib

# Exectuables
*.exe
*.out
*.app
